###directories to ignore###
.vscode/
build/

###file types to ignore###
*.swp
*.o
*.so
*.a
*.cxx
*.root
*.bin
*.pcm
*.jpg
*.png
*.sublime-project
*.sublime-workspace
*.make
Makefile
event_log.txt
.DS_Store

###include this###
!.gitignore
